.main{
    background-color: white;
        height: 100vh;
        display: flex;
        height: 100vh;
        padding-top: 8rem;
        gap: 4.4rem;
        //padding-bottom: 8rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding-left: 8rem;
        padding-right: 8rem;

 
    .left_side{
        width: 100%;
        display: flex;
        .column_images{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .first_image{
                align-self: flex-end;
            }
        }

       
    }
    .right_side{
        width: 100%;
        height: fit-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
       

        .title{
            font-size: 5.6rem;
            line-height: 110%;
            position: relative;
            .plane_departure{
                position: absolute;
                margin-left: 38.5rem;
                margin-top: -5rem;
            }
        }
        .description{
            font-size: 2rem;
            line-height: 180%;
            margin-top: 3.2rem;
        }
        .call_action{
            margin-top: 4.8rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            .action_phrase{
                font-size: 2rem;
                letter-spacing: 0.005rem;
                text-decoration: none;
            }
        }
      
    }
    
}