.main {
  background-color: #0f172a;
  height: 100vh;
  display: flex;
  height: fit-content;
  padding-top: 8rem;
  gap: 4.4rem;
  justify-content: space-around;
  padding-top: 8rem;
  padding-bottom: 8rem;
  width: 100%;
}
