.hero{
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding-left: 8rem;
    padding-right: 8rem;
    .left_section{
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        max-width: 57.54rem;
        gap: 3.2rem;
        .underline{
            position: absolute;
            top: 6rem;
            z-index: -1 ;
        }
        .main_title{
            font-size: 7.2rem;
        }
        .sub_text{
            font-size: 2.4rem;
            line-height: 160%;
        }
        .hero_action{
           display: flex;
           align-items: center;
           gap: 3.2rem;
           .play_button{
            color: #2563EB;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            gap : 1.6rem
           }
         
        }
        .trusted_companies{
            display: flex;
            justify-content: space-between;
            padding-right: 5.3rem;
            align-items: center;
            .title{
                font-size: 1.6rem;
                line-height: 140%;
            }
        } 
    }
}