.navbar {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    padding-left: 8rem ;
    padding-right: 8rem;
    border: 1px solid black;
    max-height: 9.6rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing : 0.5px
}