.general{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2.4rem;
    color: white;
    text-align: start;
    width: 100%;
    
    .category{
        font-size: 1.6rem;
        line-height: 110%;
    }
    .subcategory{
        font-size: 1.6rem;
        line-height: 140%;
        list-style: none;
        display: flex;
        gap: 1rem;
        .beta{
            background-color: #F3E8FF;
            color: #6B21A8;
            padding-top: 0.2rem;
            padding-left: 0.8rem;
            padding-right: 0.8rem;
            width: fit-content;
            border-radius: 6px;
        }
       
    }
}